<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

php_value post_max_size 100m
php_value upload_max_filesize 100m
php_value max_execution_time 0
php_value max_input_time 0
</IfModule>