<include file="public/header"/>
<!-- 当删除考试是提示管理员 -->
<!-- <div class="modal fade" id="del_exam" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">确认删除</h4>
      </div>
      <div class="modal-body">
        <h3>此操作将会删除该次考试的所有内容，包括用户的考试成绩！</h3> 
        <h3>删除是不可恢复的,你确认要删除吗?</h3> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <a type="submit" id="del" class="btn btn-primary" data-dismiss="modal">删除</a>
      </div>
    </div>
  </div>
</div> -->


<div class="my_table">
  <h2>管理员列表 <a class="btn btn-info navbar-right" data-toggle="modal" data-target="#add_admin">添加管理员</a></h2><hr>
      <if condition="$admins_list">
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped center">
          <thead>
            <tr>
              <th style="width: 10%">编号</th>
              <th style="width: 35%">登陆名</th>
              <th style="width: 35%">昵称</th>
              <th style="width: 10%">操作</th>
            </tr>
          </thead>
          <tbody>

            <foreach name="admins_list" item="vo">
            <tr id="tr{$vo.id}">
              <td >{$vo.id}</td>
              <td >{$vo.admin_name}</a></td>
              <td >{$vo.nickname}</td>
              <td ><button class="btn btn-default" onClick="del({$vo.id})">删除</button> </td>
            </tr>
            </foreach>

          </tbody>
        </table>
        </div>
      <else />
      <tr>
        <td colspan="13">暂无相关信息</td>
      </tr>
      </if>
      <include file="Public/page" />
</div>
<script>
  function del(id) {
    if(confirm("确认删除该管理员")){
      var url = "{:U('admin/admin/del','','')}";
      jQuery.post(url,{"id" : id},
            function(msg) {
              if (msg.info == 'ok') {
                $("#tr"+id).remove();//在表格中移除被删除的数据
                $("#total").text("共"+{$total-1}+"条记录");
              } else {
                alert("删除失败");
              }
            }, 'json').error(function() {
              alert("网络连接错误，请稍后再试");
        });
    }
  }
</script>
<include file="public/footer"/>