@charset "utf-8";
*{margin:0px;padding:0px;}

body
{
}
 .finish{ margin:5px auto; width:98%; }  
.finish div{
	line-height:30px; }
	
.examResult{border-right: #d1d1d1 1px solid; border-top: #d1d1d1 1px solid; border-left: #d1d1d1 1px solid; border-bottom: #d1d1d1 1px solid;}
.bookList{float:left; border:1px solid #d1d1d1; width:100%;overflow: auto;}
	
.questions{width:100%-8px;color:white; text-align:left; font-weight:bold; background-color:#3A86C4; line-height:26px; padding-left:8px;}
.questions_title{width: 100%-8px; background-color: #E4F2FD; line-height: 24px; text-align:left; padding-left:3px; margin-top:8px;}
.questions_content{width: 100%-12px; margin-bottom: 5px; line-height:24px; padding-left: 12px;}

.viewexam{width:100%-8px; color:white; text-align:left; font-weight:bold; background-color:#3A86C4; line-height:26px; padding-left:8px;}
.viewexam_title{width: 100%-8px; background-color: #E4F2FD; line-height: 24px; text-align:left; margin-top:3px; padding-left:8px; }
.viewexam_content{width: 100%-12px; margin-bottom: 5px; line-height:24px; padding-left: 12px; }
.viewexam_Sheet{width: 100%-12px; height:100%; margin-bottom: 5px; padding-left: 12px; }

.inputbut{ background-color:#23BBEA; padding:3px 6px; color:White; cursor:pointer; border:0px; min-height:25px;}

.examResult{border-right: #d1d1d1 1px solid; border-top: #d1d1d1 1px solid; border-left: #d1d1d1 1px solid; border-bottom: #d1d1d1 1px solid;}