<include file="public/header"/>


 <div class="container" style="max-width: 500px">
        <div class="panel panel-primary " style="box-shadow: 5px 5px 5px #888;">
            <div class="panel-heading text-center">信息修改</div>
            <form action="{:U('home/user/domodify','','')}" class="form-register" id="reg" method="post" onSubmit="return checkSubmit()">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label for="user">
                            <span aria-hidden="true" class="glyphicon glyphicon-user">
                            </span>
                        </label>
                    </div>
                    <label class="sr-only" for="user">
                        姓名
                    </label>
                    <input class="form-control user" id="user" name="user_name" placeholder="输入姓名" required="" type="text"
                    value="{$user_info.user_name}"/>
                </div>
                <br/>
                <div class="input-group">
                    <div class="input-group-addon">
                        <label for="tel">
                            <span aria-hidden="true" class="glyphicon glyphicon-phone-alt">
                            </span>
                        </label>
                    </div>
                    <label class="sr-only" for="tel">
                        联系电话
                    </label>
                    <input class="form-control tel" id="phone" name="phone" placeholder="您的联系电话（长号）" required="" 
                    type="text" value="{$user_info.phone}"/>
                    
                </div>
                <br/>
                <div class="input-group">
                    <div class="input-group-addon">
                        <label for="select">
                            <span aria-hidden="true" class="glyphicon glyphicon-home">
                            </span>
                        </label>
                    </div>
                    <select class="form-control select" id="select" name="college_id">
                    	<option value="{$user_info.college_id}">{$user_info.college_name}</option>
                       <if condition="$colleges_list">
                            <foreach name="colleges_list" item="college">
                            <option value="{$college.college_id}">{$college.college_name}</option>
                            </foreach>
                        </if>
                    </select>
                </div>
                <div class="form-group helper">
                    <div class="checkbox">
                        <label for="checkbox1 ">
                        	<if condition="$user_info[family_difficulties] eq 1">
                           		<input id="checkbox1 " type="checkbox" value="1" name="family_difficulties" checked="checked">
                            <else/> <input id="checkbox1 " type="checkbox" value="1" name="family_difficulties">
                            </if>
                                家庭经济困难户
                            </input>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="checkbox2 ">
                        	<if condition="$user_info[support] eq 1">
	                            <input id="checkbox2 " type="checkbox" value="1" name="support" checked="checked"/>
	                         <else/> <input id="checkbox2 " type="checkbox" value="1" name="support"/>
	                         </if>
	                                曾受资助
	                                <small>
	                                    （国家奖学金、国家励志奖学金、国家助学金等）
	                                </small>
	                            </input>

                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="checkbox3 ">
                        	<if condition="$user_info[loan] eq 1">
                            	<input id="checkbox3 " type="checkbox" value="1" name="loan" checked="checked">
                            <else/> <input id="checkbox3 " type="checkbox" value="1" name="loan">
                            </if>
                                国家助学贷款
                                <small>
                                    （含生源地信用助学贷款）
                                </small>
                            </input>
                        </label>
                    </div>
                </div>
                <label style="color: #D43F3A;">
                    *请正确填写您的个人信息，方便我们及时联系您
                </label>
                <div class="row">
                	<div class="col-md-6">
                		<a class="btn btn-primary btn-block register" href="/home">
                		    取消
                		</a>
                	</div>	
                	<div class="col-md-6">
                		<button class="btn btn-primary btn-block register" id="register" type="submit">
                		    修改
                		</button>
                	</div>	
                </div>

                
                
            </form>
        </div>
    </div>
<script type="text/javascript">
  /*
  * 检查各项输入是否符合要求
  */
  function checkSubmit(){
    var phoneReg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/; //验证手机号的正则表达式
    var phone = $("#phone").val();
    var length = phone.length;
    if(!phoneReg.test(phone)){
      alert("请输入有效的手机号码");
      $("#phone").focus();
      return false;
    } else if($("#user_name").val() == ""){
      alert("姓名不能为空，请填写真实的姓名");
      return false;
    } else{
        return true;
    }
    
  
  }
</script>

<include file="public/footer"/>